 {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | URL Shortener</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% csrf_token %}
    {% tailwind_css %}
</head>
<body class="bg-gradient-to-br from-gray-100 via-gray-200 to-gray-300 min-h-screen flex items-center justify-center">

    <div class="bg-white rounded-lg shadow-2xl p-10 max-w-lg w-full sm:max-w-md md:max-w-lg lg:max-w-4xl">
        <h1 class="text-3xl font-extrabold text-gray-900 tracking-tight">
            <span class="text-blue-600">Your Shortened</span> <br>
            <span class="text-gray-700">URLs</span>
        </h1>
        <p class="text-gray-500 mt-4 text-lg leading-relaxed">
            Here is the list of your shortened URLs. You can access and manage them below.
        </p>

        <div class="mt-8">
            <ul class="space-y-4">
                {% for url in urls %}
                    <li class="bg-gray-50 p-4 rounded-lg shadow-md flex justify-between items-center">
                        <span class="text-lg text-gray-700">{{ url.original_url }}</span>
                        <a href="{{ url.original_url }}" target="_blank" class="text-blue-600 hover:text-blue-800 font-semibold ">
                            {{ url.short_url }}
                        </a> |
                        <a href="{% url 'delete_short_url' short_url=url.short_url %}" class="text-red-600 hover:text-red-800 p">
                            Delete
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-6 text-center">
            <a href="{% url 'create_url' %}" class="w-full py-3 px-6 rounded-lg font-medium text-white bg-gradient-to-r from-blue-600 to-blue-500 hover:from-blue-500 hover:to-blue-400 shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition-all duration-300 ease-in-out">
                Create a new shortened URL
            </a>
        </div>
    </div>

</body>
</html>  
